body
{
 background-color: blueviolet;   
}
#prev a
{
    text-decoration: none;
}
.navbar-brand
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-menu
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
}
.opt-container
{
    height: auto;
    width: 90vw;
    background-color: #fff;
    /* overflow: hidden; */
    margin: 70px auto;
    display: flex;
    flex-direction: row;
    /* padding: 30px; */
}
#list
{
    /* background-color:coral; */
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
#prev
{
    /* background-color: darkgreen; */
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    border-left: .02em solid gray;
    padding: 30px;
}
#prev button
{
    display: block;
    padding: 5px 130px;
    border: none;
    outline: none;
    background-color: darkorchid;
    color: #fff;
    border: none;
    border-radius: 0px;
    margin: 5px;
    cursor: pointer;
}
#prev button:hover
{
    background-color: rgb(255, 191, 14);
    color: #000;
}
.card
{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
}
.card img
{
    height: 150px;
    width: 150px;
    
}
#list .card-title
{
    display: none;
}
.card-url
{
    /* background-color: darkgreen; */
    display: grid;
    place-items: center;
}
.card-url button
{
    padding: 5px 50px;
    border: none;
    outline: none;
    background-color: darkorchid;
    color: #fff;
    border: 2px solid rgb(255, 182, 25);
    /* border-radius: 20px; */
    margin: 5px;
    display: none;
}
@media screen and (max-width:850px)
{
#prev
{
    display: none;
}    
.card-url button
{
    display: block;
}
#list
{
    /* background-color:coral; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
}

